<div class="main top-main">
  <div class="about">
    <div class="about-summary">
      <h1 id="about-title">このWebサイトについて</h1>
      <hr>
      <p>遅れトレイン は、全国の列車の遅延情報を提供しています。</p>
      <p>利用される際は、以下の「利用にあたっての規約」に同意したものとみまします。</p>
    </div>
    <div class="about-policy">
      <h1>利用にあたっての規約</h1>
      <hr>
      <p>Ryusei Nomi（以下「デベロッパー」）は、当団体の提供する「遅れトレイン」（以下「本アプリ」）における利用者情報の取り扱いについて、以下のアプリケーション・プライバシーポリシー（以下「ポリシー」）を定め、公表しております。本アプリを利用する前に本ポリシーをご確認いただき、内容をご理解の上で本アプリをご利用下さい。</p>
      <h2>1. 免責事項について</h2>
      <p>(1) 本アプリからのリンクによって移動した先のサイトで提供される情報、サービス等について一切の責任を負いません。</p>
      <p>(2) ポリシーについて、本アプリの今後の機能追加や機能改修によって変更が加わることがあります。その際は、ポリシーの変更をするとともに、変更時に本ポリシーの効力が生じます。</p>
      <p>本アプリを利用して発生したトラブル等につきましては一切の責任を負いません。</p>
      <h2>2. 列車遅延情報について</h2>
      <p>本アプリで提供されている列車遅延情報は、<a href="https://rti-giken.jp/fhc/api/train_tetsudo/">鉄道遅延情報のJSON</a>より提供されている列車の遅延情報データを30分に1回取得し、改変しているものです。</p>
      <p>そのため、本アプリで提供されている列車遅延情報と実際の遅延情報に乖離が発生することがあります。予めご了承の上、ご利用ください。</p>
      <p>本アプリで提供されている列車遅延情報に関する問い合わせは鉄道遅延情報のJSONには行わず、本アプリの窓口までお願いします。</p>
    </div>
    <h2>3. お問い合わせ窓口</h2>
    <p>ご意見、ご質問、不具合の報告、その他利用情報の取り扱いに関するお問い合わせは、下記の窓口までお願いいたします。</p>
    <p>名前： Ryusei Nomi</p>
    <p>E-Mail： ryusakine0507@gmail.com</p>
  </div>
</div>
