<header>
  <div class="header-logo">
    <a href="/">遅れトレイン</a>
  </div>
</header>

<div class="main top-main">
  <h1>遅れている路線一覧</h1>
  <% @delay_lists.each do |delay_list| %>
    <li><%= delay_list.fetch("Company") %></li>
    <li><%= delay_list.fetch("Name") %></li>
    <li><%= delay_list.fetch("Status") %></li>
  <% end %>
</div>
