<div class="main top-main">
  <div class="region-select-menu">
    <ul>
      <li>地域選択</a></li>
      <li><a href="/delay_lists/index?region=北海道">北海道</a></li>
      <li><a href="/delay_lists/index?region=東北">東北</a></li>
      <li><a href="/delay_lists/index?region=関東">関東</a></li>
      <li><a href="/delay_lists/index?region=中部">中部</a></li>
      <li><a href="/delay_lists/index?region=近畿">近畿</a></li>
      <li><a href="/delay_lists/index?region=中国地方">中国地方</a></li>
      <li><a href="/delay_lists/index?region=四国">四国</a></li>
      <li><a href="/delay_lists/index?region=九州">九州</a></li>
    </ul>
  </div>
  <div class="search-area">
    <h1>駅名から検索</h1>
    <form id="station-search-form" method="GET">
      <input id="search-box" type="search" placeholder="駅名を入力">
      <input id="search-submit-button" type="submit" value="検索">
    </form>
  </div>
  <div class="operation-information">
    <h1>運行情報</h1>
  </div>
</div>
