/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Header ================================ */
header {
  height: 64px;
  position: fixed;
  top: 0;
  margin-bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #3ecdc6;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 36px;
  margin: 10px 10px 10px 10px;
}

/* Header ================================ */
footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;

  height: 30px;
  background-color: #3FCDC5;
}

footer a {
  color: white;
}

footer ul {
  text-align: center;
}

footer li {
  display: inline;
}
